@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {
  /* Fonts */
  --font: Inter, sans-serif;
  --font-mono: "Source Code Pro", monospace;

  /* Colors */
  --col-bg: #111111;
  --col-fg: #e8e8e8;
  --col-accent: #be99ff;
}

html,
body {
  max-width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
  background: var(--col-bg);
  color: var(--col-fg);
  font-family: var(--font);
  font-size: .9375rem;
}

main {
  padding-left: 5%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-mono);
}

a {
  color: var(--col-accent);
}

nav ul {
  list-style: none;
}

.container {
  display: flex;
}

.project {
  background: color-mix(in srgb, black, var(--col-accent) 20%);
  border-radius: 1em;
  margin-top: 1em;
  padding: 0.7em;
}

.stack {
  color: color-mix(in srgb, black, var(--col-fg) 75%);
}

.carousel {
  text-decoration: var(--col-accent) wavy underline 0.01rem;
  cursor: pointer;
}

.social {
  width: 1.3em;
  height: 1.3em;
  padding: 0.2em;
}
