@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {
  /* Fonts */
  --font-mono: "Source Code Pro";

  /* Colors */
  --col-bg: #fff2f2;
  --col-fg: #11111b;
  --col-accent: #651fff;
}

html,
body {
  max-width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  background: var(--col-bg);
  color: var(--col-fg);
  font-family: var(--font-mono);
}

main {
  padding-left: 5%;
}

a {
  color: var(--col-accent);
}

nav ul {
  list-style: none;
}

.container {
  display: flex;
}

.project {
  background: #cfd1e5;
  border-radius: 1em;
  margin-top: 1em;
  padding: 0.7em;
}

.stack {
  color: #11111b55;
}

.carousel {
  text-decoration: underline;
  cursor: pointer;
}
