@font-face {
  font-family: "JetBrains Mono";
  src: url("/jetbrainsmono.ttf");
}

html,
body {
  max-width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  background: #cdd6f4;
  color: #11111b;
  font-family: "JetBrains Mono", monospace;
  font-size: 0.9em;
}

main {
  padding-left: 5%;
}

a {
  color: #1e66f5;
}

nav ul {
  list-style: none;
}

.container {
  display: flex;
}

.project {
  background: #7287fd33;
  /*border: 2px solid #7287fd77;*/
  border-radius: 1em;
  margin-top: 1em;
  padding: 0.7em;
}

.stack {
  color: #11111b55;
}
