@font-face {
  font-family: Outfit;
  src: url(/outfit.woff2) format(woff2);
}

@font-face {
  font-family: "Jet Brains Mono";
  src: url(/jetbrainsmono.woff2) format(woff2);
}

* {
  box-sizing: border-box;
}

@media screen and (width <= 600px) {
  .container {
    display: block !important;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #links {
    display: flex;
  }
  #links li {
    padding: 1em;
  }
}

:root {
  /* Fonts */
  --font: Outfit, Inter, sans-serif;
  --font-mono: "Jet Brains Mono", monospace;

  --col-bg: #1a1e26;
  --col-fg: #e8e8e8;
  --col-accent: #be99ff;
}

/* TODO: Fix color scheme; is always dark */
@media (prefers-color-scheme: light) {
  --col-bg: #e8e8e8;
  --col-fg: #1c1c1c;
  --col-accent: #6600dd;
}

html,
body {
  background: var(--col-bg);
  color: var(--col-fg);
  font-family: var(--font);
  line-height: 1.75;
}

div#container {
  max-width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
  display: flex;
}

main {
  padding-left: 5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

a {
  color: var(--col-accent);
}

blockquote {
  border-left: 2px solid var(--col-accent);
  margin: 0;
  padding-left: 2em;
}

pre, code {
  font-family: var(--font-mono);
  font-size: 0.875rem;
}

code {
  background-color: color-mix(in srgb, var(--col-fg), var(--col-bg) 85%);
  border-radius: 0.7rem;
}

pre code {
  background: none;
  border-radius: none;
}

.flex {
  display: flex;
}

.carousel {
  text-decoration: var(--col-accent) wavy underline 0.01rem;
  cursor: pointer;
}
