@font-face {
  font-family: Rubik;
  src: url(/rubik.ttf);
}

@font-face {
  font-family: "Jet Brains Mono";
  src: url(/jetbrainsmono.woff2) format(woff2);
}

* {
  box-sizing: border-box;
}

@media screen and (width <= 600px) {
  h1 {
    text-align: center;
  }

  div#container {
    display: block !important;
  }
}

:root {
  /* Fonts */
  --font: Rubik, sans-serif;
  --font-mono: "Jet Brains Mono", monospace;

  color-scheme: light dark;
  --col-bg: #eee;
  --col-fg: #222;
  --col-accent: #223;
}

html,
body {
  background: var(--col-bg);
  color: var(--col-fg);
  font-family: var(--font);
  line-height: 1.75;
}

div#container {
  max-width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
  display: flex;
}

main {
  padding-left: 5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

a {
  color: var(--col-accent);
}

blockquote {
  border-left: 2px solid var(--col-accent);
  margin: 0;
  padding-left: 2em;
}

pre,
code {
  font-family: var(--font-mono);
  font-size: 0.875rem;
}

code {
  background-color: color-mix(in srgb, var(--col-fg), var(--col-bg) 85%);
  border-radius: 0.25rem;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}

pre code {
  background: none;
  border-radius: none;
}

.flex {
  display: flex;
}

.carousel {
  text-decoration: var(--col-accent) wavy underline 0.01rem;
  cursor: pointer;
}
