@font-face {
  font-family: "Okta Neue";
  src: url(/oktaneue.woff2) format(woff2);
}

@font-face {
  font-family: "Jet Brains Mono";
  src: url(/jetbrainsmono.ttf);
}

* {
  box-sizing: border-box;
}

@media screen and (width <= 600px) {
  .container {
    display: block !important;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #links {
    display: flex;
  }
  #links li {
    padding: 1em;
  }

  #themes {
    display: none;
  }
}

:root {
  /* Fonts */
  --font: "Okta Neue", Inter, sans-serif;
  --font-mono: "Jet Brains Mono", monospace;
}

.dark {
  --col-bg: #1c1c1c;
  --col-fg: #e8e8e8;
  --col-accent: #be99ff;
}

.light {
  --col-bg: #e8e8e8;
  --col-fg: #1c1c1c;
  --col-accent: #6600dd;
}

html,
body {
  background: var(--col-bg);
  color: var(--col-fg);
  font-family: var(--font);
  line-height: 1.75;
}

div#container {
  max-width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
  display: flex;
}

main {
  padding-left: 5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

a {
  color: var(--col-accent);
}

blockquote {
  border-left: 2px solid var(--col-accent);
  margin: 0;
  padding-left: 2em;
}

.flex {
  display: flex;
}

.carousel {
  text-decoration: var(--col-accent) wavy underline 0.01rem;
  cursor: pointer;
}
