@font-face {
  font-family: "Jet Brains Mono";
  src: url(/jetbrainsmono.ttf);
}

:root {
  /* Fonts */
  --font: Inter, sans-serif;
  --font-mono: "Jet Brains Mono", monospace;
}

.dark {
  --col-bg: #1c1c1c;
  --col-fg: #e8e8e8;
  --col-accent: #be99ff;
}

.light {
  --col-bg: #e8e8e8;
  --col-fg: #1c1c1c;
  --col-accent: #6600dd;
}

html,
body {
  background: var(--col-bg);
  color: var(--col-fg);
  font-family: var(--font);
  font-size: 0.95rem;
  line-height: 1.75;
}

div#container {
  max-width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
}

main {
  padding-left: 5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-mono);
}

a {
  color: var(--col-accent);
}

blockquote {
  border-left: 2px solid var(--col-accent);
  margin: 0;
  padding-left: 2em;
}

.container {
  display: flex;
}

.carousel {
  text-decoration: var(--col-accent) wavy underline 0.01rem;
  cursor: pointer;
}
