---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404">
  <h1>Not Found</h1>
  <p>
    There is no such page on this website. Maybe check the sidebar to find what
    you're looking for.
    <br>
    I hope you get where you're going :)
  </p>
</Layout>
