---
import Layout from "../layouts/Layout.astro";
---

<Layout title="AI">
  <h1>AI Usage</h1>
  <h4>
    A short explanation of how AI is not used on this website.
  </h4>
  <p>
    In short, I never use AI for this website. Everything is done by me, with
    my own hands, typing on a keyboard. I reference tutorials and documentation
    to find problems, fix bugs, and whatever else I need.
    <br />
    I have no judgement against people who do choose to use it. It's just my
    choice not to and I don't intend to force my opinion on anyone.
    <br />
    This is a <a href="https://slashai.page/">/ai</a> page.
  </p>
</Layout>
