---
import Layout from "../layouts/Layout.astro";
---

<Layout title="88x31">
  <h1>Web Badges</h1>
  <h4>
    A bunch of web badges I've collected from the internet or made myself.
  </h4>
  <div>
    <img src="/88x31/kaamkiya.gif" alt="it's me, kaamkiya" />
    <img src="/88x31/est2024.png" alt="this website was established in 2024" />
    <br />
    <a href="https://archlinux.org/" target="_blank"><img src="/88x31/archlinux.gif" alt="I use Arch btw" /></a>
    <img src="/88x31/canada.gif" alt="Canada" />
    <img src="/88x31/indieweb.png" alt="The Indie Web" />
    <img src="/88x31/internetarchive.png" alt="The Internet Archive" />
    <img src="/88x31/iso8601.png" alt="The best date format is YYYY-MM-DD" />
    <img src="/88x31/nocookie.gif" alt="This website uses zero cookies" />
    <img src="/88x31/noerror.gif" alt="Error? What error?" />
    <img src="/88x31/right2repair.png" alt="I support the right to repair" />
    <img src="/88x31/underconstruction.gif" alt="Under construction..." />
    <img src="/88x31/wikipedia.gif" alt="Wikipedia rocks" />
    <img src="/88x31/www.gif" alt="World Wide Web, connecting people since 1991" />
    <img src="/88x31/emailme.gif" alt="Email me! kaki@envs.net" />
    <img src="/88x31/envsnet.png" alt="envs.net" />
    <img src="/88x31/tildetown.gif" alt="tilde.town" />
    <img src="/88x31/firefox.gif" alt="Firefox" />
  </div>
  <!--
    Partly sourced from https://88x31db.com and
    https://pilosophos.com/88x31-viewer/
  -->
</Layout>

