---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>
    My <span class="carousel" values="Ramblings,Blog Posts">Blog Posts</span>
  </h1>

  <ul>
    <li><a href="/posts/tiny-transpiler">The Tiny Transpiler</a></li>
  </ul>
</Layout>
