---
import Layout from "../layouts/Layout.astro";
import DateText from "../components/DateText.astro";

import "../styles/main.css";

const posts = Object.values(import.meta.glob("./posts/*.md", { eager: true }));
---

<Layout title="Blog">
  <h1>
    My <span class="carousel" values="Ramblings,Posts">Posts</span>
  </h1>

  <ul>
    {
      posts
        .sort(
          (a, b) =>
            Date.parse(b.frontmatter.pubDate) -
            Date.parse(a.frontmatter.pubDate),
        )
        .map((post: any) => (
          <a href={post.url}>
            <li>
              {post.frontmatter.title}
              <span class="datetext">
                <DateText date={post.frontmatter.pubDate} />
              </span>
            </li>
          </a>
        ))
    }
  </ul>
</Layout>

<style>
  ul {
    margin: 0;
    padding: 0;
  }

  ul li {
    display: grid;
    grid-template-columns: 80% 20%;
  }

  .datetext {
    color: var(--col-accent-mono);
    text-align: right;
  }
</style>
