---
import Layout from "../layouts/Layout.astro";

const posts = Object.values(import.meta.glob("./posts/*.md", { eager: true }));
---

<Layout>
  <h1>
    My <span class="carousel" values="Ramblings,Blog Posts">Blog Posts</span>
  </h1>

  <ul>
    {
      posts.map((post: any) => (
        <li>
          <a href={post.url}>{post.frontmatter.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>
