---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Colophon">
  <h1>Colophon</h1>
  <h4>How this website works, tech it uses, and more</h4>

  <h3>Technologies</h3>
  <p>
    This website is made using a combination of
    <b><a href="https://astro.build">Astro</a></b>, Markdown for blog posts,
    CSS, and a little bit of JavaScript.
  </p>

  <h3>Typography</h3>
  <p>
    The fonts used here are <code>JetBrains Mono</code> and
    <a href="https://github.com/Outfitio/Outfit-Fonts">Outfit</a>.
  </p>

  <h3>Color palette</h3>
  <p>
    Colors used for dark mode are <code>1a1e26</code> for the background,
    <code>e8e8e8</code> for the text, and <code>be99ff</code> for the accents,
    like links.
    <br />
    For light mode, the colors are <code>e8e8e8</code> for the background,
    <code>1c1c1c</code> for the foreground, and <code>6600dd</code> for
    accents.
  </p>

  <h3>Icons</h3>
  <p>
    I chose to use <a href="https://simpleicons.org/">Simple Icons</a>, since,
    well, they're simple. And I used
    <a href="https://www.astroicon.dev/">Astro Icon</a> to include icons,
    because it's a very easy way to incorporate icons into a website.
  </p>
</Layout>
