---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Colophon">
  <h1>Colophon</h1>
  <h4>How this website works.</h4>

  <h3>Technologies</h3>
  <p>
    This website is made using <b><a href="https://astro.build">Astro</a></b>,
    Markdown for blog posts, CSS, and a little bit of JavaScript.
  </p>

  <h3>Typography</h3>
  <p>
    The fonts used here are <code>JetBrains Mono</code> and Rubik.
  </p>

  <h3>Color palette</h3>
  <p>
    <!--Colors used for dark mode are <code>1a1e26</code> for the background,
    <code>e8e8e8</code> for the text, and <code>be99ff</code> for the accents, like
    links.
    <br />
    For light mode, -->
    The colors are <code>#eee</code> for the background,
    <code>#222</code> for the foreground, <code>#174232</code> for accents, and
    <code>#446</code> for non-colored accents.
  </p>

  <h3>Miscellaneous</h3>
  <p>
    This website is hosted using Cloudflare. The source code is on
    <a href="https://github.com/Kaamkiya/kaamkiya.github.io">Github</a> and
    <a href="https://codeberg.org/Kaamkiya/pages">Codeberg</a>.
  </p>
</Layout>
