---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact">
  <h1>Contact</h1>
  <p><b>Ways to contact me</b></p>
  <ul>
    <!--<li><a href="https://mementomori.social/@zm">Mastodon/the Fediverse</a></li>-->
    <li><a href="https://matrix.to/#/@zia.m:matrix.org">Matrix</a>: message me</li>
    <li><a href="https://codeberg.org/Kaamkiya">Codeberg</a>: see my code</li>
    <li><a href="https://github.com/Kaamkiya">Github</a>: see more of my code</li>
    <li><a href="mailto:kaki@envs.net">Email</a>: email me at <code>kaki (at) envs (dot) net</code></li>
  </ul>
</Layout>
