---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Defaults">
  <h1>Default Apps</h1>
  <p>
    Apparently, it's fairly common to have a page on a personal website that
    lists the apps you default to for certain things. So here are mine:
  </p>
  <ul>
    <li>Mail client: <a href="https://aerc-mail.org/">aerc</a>, Apple Mail, Gmail</li>
    <li>Mail server: Gmail, <a href="https://envs.net">Envs.net</a></li>
    <li>Notes: <a href="https://triliumnotes.org/">Trilium Notes</a></li>
    <li>Todo: <a href="https://ticktick.com">TickTick</a></li>
    <li>Photo shooting: Apple Camera app</li>
    <li>Photo management: <a href="https://ente.io">Ente</a></li>
    <li>Calendar: Apple Calendar, Notion Calendar</li>
    <li>Cloud storage: Google Drive</li>
    <li>Contacts: Apple Contacts</li>
    <li>RSS: --still looking for something--</li>
    <li>Browser: <a href="https://zen-browser.app">Zen</a>, Orion</li>
    <li>Search: <a href="https://duckduckgo.com">DuckDuckGo</a></li>
    <li>Chat: WhatsApp, Discord, Matrix</li>
    <li>Bookmarks: browser manager</li>
    <li>Word processing: Google Docs (rarely used though)</li>
    <li>Spreadsheets: Google Sheets</li>
    <li>Presentation: Google Slides</li>
    <li>Shopping lists: no app, just paper</li>
    <!--<li>Meal planning: </li>-->
    <!--<li>News: </li>-->
    <li>Music: Spotify</li>
    <li>Book tracking: <a href="https://thestorygraph.com/">The StoryGraph</a></li>
    <li>Terminal: Kitty</li>
    <li>Code editor: <a href="https://helix-editor.com/">Helix</a></li>
    <li>OS: <a href="https://archlinux.org/">Arch Linux</a></li>
  </ul>
</Layout>

