---
import BaseLayout from "../layouts/BaseLayout.astro";
import Links from "../components/Links.astro";
---

<BaseLayout title="Home | Zia M" description="Zia's personal website">
  <h1>Zia M</h1>
  <h4>Backend developer</h4>
  <Links />
  <p>
    Welcome to my corner of the internet! I am a backend developer, and I like
    chocolate and command lines.
    <br />
    I have made many (mostly small) projects, and I'm currently looking for
    projects I can contribute to.
    <br />
    My favorite coding language is Go, and my favorite frontend stack is Bun
    with Astro.
    <br />
    I'm accepting contributions to all of my projects, so feel free to check
    them out on my <a href="https://github.com/Kaamkiya?tab=repositories">
      GitHub</a> profile.
  </p>
  <h2>About me</h2>
  <ul>
    <li>Pronouns: he/him</li>
    <li>Languages: English, French, learning Spanish and Urdu</li>
    <li>Coding languages: Go, Python, Java, some C</li>
    <li>WPM: ~60 with 97% accuracy</li>
  </ul>
</BaseLayout>
