---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>
    <span class="carousel" values="Hi,Hello,Hey,Welcome,Greetings">Hello</span>!
    I'm Zia.
  </h1>
  <h4>You might know me as Kaamkiya.</h4>
  <p>
    I'm a backend developer who likes chocolate and terminals.
    <br />
    I have made many (mostly small) <a href="/projects">projects</a>, and
    they're almost all open for contributions, so if you'd like, feel free to
    help out!
    <br />
    I'm also currently looking for projects I can contribute to, so feel free to
    contact me with something.
    <br />
    <br />
    <small>
      Click the purple underlined
      <span class="carousel" values="text,content,words,stuff">text</span>
      to see some cool effects!
    </small>
  </p>
  <ul>
    <li>Pronouns: he/him</li>
    <li>Coding languages: Go, Python, TypeScript, JavaScript, some Rust</li>
    <li>WPM: ~86 with 96% accuracy</li>
  </ul>
</Layout>
