---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Colophon">
  <h1>Links</h1>
  <h4>Find me in other internet places!</h4>

  <p>
    Message me on Matrix, see my code on Github or Codeberg, or email me!
  </p>
  <ul>
    <!--<li><a href="https://mementomori.social/@zm">Mastodon/the Fediverse</a></li>-->
    <li><a href="https://matrix.to/#/@zia.m:matrix.org">Matrix</a></li>
    <li><a href="https://codeberg.org/Kaamkiya">Codeberg</a></li>
    <li><a href="https://github.com/Kaamkiya">Github</a></li>
    <li><a href="mailto:kaki@envs.net">Email</a></li>
  </ul>
</Layout>
