---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Now">
  <h1>What I'm doing now</h1>
  <h4>
    Inspired by <a href="https://nownownow.com">the NOW page movement</a>
    &bullet; Last update: Feb 23, 2026
  </h4>
  <ul>
    <li>The small web movement</li>
    <li>Learning about psychology, just for fun</li>
    <li>Learning a little cybersecurity</li>
    <li>Getting better at Rust</li>
    <li>
      <a href="https://github.com/Kaamkiya/gg">gg</a>
      - a collection of CLI games
    </li>
    <li><a href="https://knightowls.ca">FRC team 8884</a></li>
    <li>Reading a lot</li>
    <li><a href="https://github.com/compsci-nss">Computer Science Club</a></li>
    <li>Figuring out how to maybe selfhost things</li>
    <li>This website</li>
  </ul>
</Layout>
