---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Now">
  <h1>What I'm doing now</h1>
  <h4>
    Inspired by <a href="https://nownownow.com">the NOW page movement</a>
    &bullet;
    Last update: 2025-09-25
  </h4>
  <ul>
    <li>
      <a href="https://github.com/Kaamkiya/gg">gg</a>
      - a collection of CLI games
    </li>
    <li>Getting better at Rust</li>
    <li>FRC <a href="https://knightowls.ca">team 8884</a></li>
    <li>
      <a href="https://discord.gg/Teu86pw6r4">otravez</a>
      - a discord bot with FRC-related features
    </li>
    <li>Reading a lot</li>
    <li><a href="https://github.com/compsci-nss">Computer Science Club</a></li>
    <li>Typing faster</li>
    <li>This website</li>
    <li>School</li>
  </ul>
</Layout>
