---
import Layout from "../layouts/Layout.astro";
import DateText from "../components/DateText.astro";

import "../styles/main.css";

const slashes = [
  {link: "/", desc: "The home page."},
  {link: "/ai", desc: "How AI is used on this website."},
  {link: "/badges", desc: "A collection of web badges (aka 88x31s)."},
  {link: "/blank", desc: "This page intentionally left blank."},
  {link: "/blog", desc: "A listing of all my blog posts."},
  {link: "/colophon", desc: "Credits and resources used to make this website."},
  {link: "/contact", desc: "Ways to contact me and links to other accounts."},
  {link: "/feeds/rss.xml", desc: "The RSS feed for my blog."},
  {link: "/now", desc: "Things I'm doing currently."},
  {link: "/projects", desc: "A listing of several of my coding projects."},
  {link: "/sitemap", desc: "All of the slashpages on this website, listed."},
];
---

<Layout title="Sitemap">
  <h1>
    Sitemap
  </h1>
  <p><b>
    A list of all the
    <a href="https://slashpages.net" target="_blank">slashpages</a> on this
    website.
  </b></p>

  <ul>
    {
      slashes.map(page => {
        return <li>
          <a href={page.link}>{page.link}</a>
          <span class="desc">{page.desc}</span>
        </li>
      })
    }
  </ul>
</Layout>

<style>
  ul {
    margin: 0;
    padding: 0;
    font-size: 0.9em;
  }

  ul li {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  .desc {
    color: var(--col-accent-mono);
  }
</style>
