<footer>
  <hr />
  <p>&#x1f12f; 2024-present Kaamkiya</p>
  <div id="badges">
    <img src="/88x31/andycarolan_madebyahuman.png" alt="Made by a human" />
  </div>
  <div id="webrings">
    <p>Webrings</p>
    <!--<p>
      <a href="https://fediring.net/previous?host=kaamkiya.dev">←</a>
      <a href="https://fediring.net/">fediring</a>
      <a href="https://fediring.net/next?host=kaamkiya.dev">→</a>
    </p>-->
    <p>
      <a href="https://envs.net/ring/?action=prev&me=kaki" target="_blank">←</a>
      <a href="https://envs.net/ring/?action=random&me=kaki" target="_blank">envs.net</a>
      <a href="https://envs.net/ring/?action=next&me=kaki" target="_blank">→</a>
    </p>
  </div>
</footer>

<style>
  footer {
    font-size: 0.9em;
    margin-top: 3em;
    margin-bottom: 0;
    text-align: center;
    justify-content: center;
  }

  footer p {
    opacity: 0.7;
  }
</style>
