---
---

<div class="links">
  <a href="https://hachyderm.io/@nonexistent" rel="me"><i class="ti ti-brand-mastodon"></i></a>
  <a href="https://github.com/Kaamkiya"><i class="ti ti-brand-github"></i></a>
</div>
<style>
  .links {
    font-size: 2em;
  }
</style>
