---
import "../styles/main.css";
import { Icon } from "astro-icon/components";
---

<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/projects/">Projects</a></li>
    <li><a href="/blog/">Blog</a></li>
    <li><a href="/experience/">Experience</a></li>
  </ul>

  <ul class="container">
    <li>
      <a target="_blank" href="https://github.com/Kaamkiya">
        <Icon class="social" name="simple-icons:github" />
      </a>
    </li>
    <li>
      <a target="_blank" href="https://mementomori.social/@zm">
        <Icon class="social" name="simple-icons:mastodon" />
      </a>
    </li>
    <li>
      <a target="_blank" href="https://matrix.to/#/@zia.m:matrix.org">
        <Icon class="social" name="simple-icons:matrix" />
      </a>
    </li>
  </ul>

  <ul>
    <li class="themeoption">Dark</li>
    <li class="themeoption">Light</li>
  </ul>
</nav>

<style>
  nav ul {
    list-style: none;
  }

  [data-icon] {
    color: var(--col-fg);
  }

  .social {
    width: 1.3em;
    height: 1.3em;
    padding: 0.2em;
  }

  .themeoption {
    cursor: pointer;
  }
  .themeoption.active {
    color: var(--col-accent);
  }
  .themeoption.active::before {
    content: "• ";
  }
</style>

<script is:inline>
  const themeOptions = document.querySelectorAll(".themeoption");

  const setTheme = name => {
    themeOptions.forEach(e => e.classList.remove("active"));
    localStorage.setItem("theme", name);
    document.documentElement.className = name;
  }
  const getTheme = () => {
    return localStorage.getItem("theme");
  }

  if (!getTheme()) setTheme("dark");
  else setTheme(getTheme());
  themeOptions.forEach(e => {
    if (e.innerText.toLowerCase() == getTheme()) {
      e.classList.add("active");
    }
  });

  themeOptions.forEach(e => {
    e.onclick = () => {
      setTheme(e.innerText.toLowerCase());
      e.classList.add("active");
    }
  });
</script>
