---
import "../styles/main.css";
import { Icon } from "astro-icon/components";
---

<nav>
  <ul id="links">
    <li><a href="/">Home</a></li>
    <li><a href="/projects/">Projects</a></li>
    <li><a href="/blog/">Blog</a></li>
    <li><a href="/links/">Links</a></li>
    <li><a href="/now/">Now</a></li>
    <li><a href="/colophon/">Colophon</a></li>
  </ul>
</nav>

<style>
  nav ul {
    list-style: none;
  }
  @media (width <= 600px) {
    nav ul li {
      padding: 0.5rem !important;
    }
  }
</style>
