---
import "../styles/main.css";
---

<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/projects/">Projects</a></li>
    <li><a href="/experience/">Experience</a></li>
  </ul>
  <ul class="container">
    <li>
      <a target="_blank" href="https://github.com/Kaamkiya">
        <img
          class="social"
          src="https://cdn.simpleicons.org/github/white"
          alt="Github"
        />
      </a>
    </li>
    <li>
      <a target="_blank" href="https://mementomori.social/@zm">
        <img
          class="social"
          src="https://cdn.simpleicons.org/mastodon/white"
          alt="Mastodon"
        />
      </a>
    </li>
    <li>
      <a target="_blank" href="https://matrix.to/#/@zia.m:matrix.org">
        <img
          class="social"
          target="_blank"
          src="https://cdn.simpleicons.org/matrix/white"
          alt="Matrix"
        />
      </a>
    </li>
  </ul>
</nav>

<style>
  nav ul {
    list-style: none;
  }

  .social {
    width: 1.3em;
    height: 1.3em;
    padding: 0.2em;
  }
</style>
