---
import "../styles/main.css";

import Layout from "./Layout.astro";
import Nav from "../components/Nav.astro";
import DateText from "../components/DateText.astro";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <meta name="fediverse:creator" content="@zm@mementomori.social">
  <h1>{frontmatter.title}</h1>
  <p>
    <em>
      <DateText date={frontmatter.pubDate} />
      {
        frontmatter.editDate !== undefined && (
          <span>
            &bullet; Edited <DateText date={frontmatter.editDate} />
          </span>
        )
      }
    </em>
  </p>
  <slot />
</Layout>
