---
import "../styles/main.css";

import Layout from "./Layout.astro";
import Nav from "../components/Nav.astro";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <meta name="fediverse:creator" content="@zm@mementomori.social">
  <h1>{frontmatter.title}</h1>
  <p>
    <em>
      Published: {frontmatter.pubDate.toString().slice(0, 10)}
      {
        frontmatter.editDate !== undefined && (
          <span>
            &bullet; Edited: {frontmatter.editDate.toString().slice(0, 10)}
          </span>
        )
      }
    </em>
  </p>
  <slot />
</Layout>
